.ico_contacts {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border: 1px solid $color-tags-h;
  border-radius: 50% 50%;
  cursor: pointer;
}

.contacts_facebook {
  background-image: url(../../../src/images/socials/ico-facebook--nocircle.svg);
  width: 8px;
  height: 15px;
}

.contacts_google {
  background-image: url(../../../src/images/socials/ico-google-plus--nocircle.svg);
  width: 14px;
  height: 15px;
}

.contacts_twitter {
  background-image: url(../../../src/images/socials/ico-twitter--nocircle.svg);
  width: 14px;
  height: 13px;
}

.contacts_linkedin {
  background-image: url(../../../src/images/socials/ico-linkedin--nocircle.svg);
  width: 14px;
  height: 15px;
}

.c_license {
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 13px;
  line-height: 18px;
  color: $color-tags-h;
  @include media-big-mobile {
    display: none;
  }
}

.footer__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  @include media-big-mobile {
    padding: 22px 0;
    align-items: center;
    justify-content: center;
  }
}

.contacts {
  background: $color-main-dark;
}
