.portfolio {
  background: $color-main-dark;
  border-bottom: 6px solid $color-bottom-dark;
  &__wrapper {
    padding: 59px 0 48px;

    @include media-tablet {
      padding: 59px 0 45px;
    }
    @include media-big-mobile {
      padding: 42px 30px 28px;
    }
  }
}

.text_portfolio {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  margin: 14px 0 18px 0;
  color: $color-tags-h;
}

.tags {
  margin: 0 0 20px 0;
}

.layout-4-column {
  @include columns($width: 220px);
  > * {
    margin-bottom: 20px;
  }
  @include media-tablet {
    @include columns($width: 216.2px);
    > * {
      margin-bottom: 20px;
    }
  }
  @include media-big-mobile {
    @include columns($width: 151px);
    > * {
      margin-bottom: 14px;
    }
  }
  @include media-small-mobile {
    @include columns($width: 125px);
    > * {
      margin-bottom: 14px;
    }
  }
}
